
.buttons {
  position: fixed;
  left: 50px;
  top: 200px;
}
.svgDice3D {
  width:110px;
}
.svgDice {
  width: 100px;
}
.svgFill {
  fill: black;
}
.svgFillRed {
  fill: red;
}
#newTurn {
  display: none;
}
